{% extends "base.html" %}
{% load static %}
{% block page_content %}
<br>
<title>Projects</title>
<div align= "right" class="search-container">
  <form method="get" action=".">
    <input type="text" name="searchDiploma" value="Diploma">
    <input type="submit" value="Search"></input>
  </form>
</div>
</fieldset>
<h2 align="center" style="font-family:FuturateeMed;"> <font color="#ff8080">
Dian Izzati Binte Sukerman </font>
</h2>
<p align="center" style="font-family:Muli-Light;"><font size="4px">Ngee Ann polytechnic <br>
    +6591165866 | dianizzatibs@gmail.com <br>
    Linkedin.com/in/dian-izzati-bs</font></p>
<hr>
<h4 style="font-family:Muli;"> <font color="e1e1d0">Personal Summary</font></h4>
<p><font style="font-family:Muli-Light;">I possess comprehensive knowledge in programming and UI design. I am strong in creative design and in teams. I am very meticulous with the workflow of a design and am able to accept criticism and improve myself.</font></p>
<br>

<div class="row">
    <div class="col-8">
        <h4 style="font-family:Muli;"> <font color="e1e1d0">Education</font></h4>
            <p style="font-family:Muli;"><strong>(Diploma in Information Technology)</strong> <br>
            <font style="font-family:Muli-light;">Ngee Ann Polytechnic</p>
    </div>
    <div class="col-4">
        <h4 style="font-family:Muli;"> <font color="e1e1d0">Year</font></h4>
            <p style="font-family:Muli-light;">2017-2020</p>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <p style="font-family:Muli;"><strong>(Nitec in Social Media & Web Development)</strong> <br>
        <font style="font-family:Muli-light;">Institute of Technical Education</p>
    </div>
    <div class="col-4">
        <p style="font-family:Muli-light;">2015-2016</p>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <p style="font-family:Muli;"><strong>(Diploma in Pastry & Baking)</strong> <br>
        <font style="font-family:Muli-light;">SHATEC Institute</p>
    </div>
    <div class="col-4">
        <p style="font-family:Muli-light;">2013-2014</p>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <p style="font-family:Muli;"><strong>(GCE ’N’ Level & O’ Level)</strong> <br>
        <font style="font-family:Muli-light;">Kuo Chuan Presbyterian Sec. School</p>
    </div>
    <div class="col-4">
        <p style="font-family:Muli-light;">2008-2012</p>
    </div>
</div>

<br>
<hr>
<h4 style="font-family:Muli;"> <font color="e1e1d0">Skills</font></h4>
<div class="row">
    <div class="col">
        <p style="font-family:Muli;"><strong> Programming (Languages & Softwares) </strong> <br>
        <p><font style="font-family:Muli-Light;"> C#, PHP, Java, jQuery, JSON, HTML5, Python, Javascript, ASP.NET, SQLServer, LINQ, LAMBDA SQL, Database, Microsoft Visual Studio, Adobe Dreamweaver </font></p>
    </div>
    <div class="col">
        <p style="font-family:Muli;"><strong> Designing (Coding & Softwares) </strong> <br>
        <p><font style="font-family:Muli-Light;"> XML, ActionScript, JavaScript, Adobe Photoshop, Adobe Illustrator, Adobe Animate CC, Adobe Flash, Adobe XD, Adobe InDesign </font></p>
    </div>
</div>
<br>
<hr>
<div class="row">
    <div class="col-8">
        <h4 style="font-family:Muli;" name="scrollToAward"> <font color="e1e1d0">Awards & Achievement</font></h4>
        <p><font style="font-family:Muli-Light;"> Anugerah Mendaki Awards </font></p>
    </div>
    <div class="col-4">
        <h4 style="font-family:Muli;"> <font color="e1e1d0">Year</font></h4>
        <p><font style="font-family:Muli-Light;"> 2017 </font></p>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <p><font style="font-family:Muli-Light;"> Course Medal & Certificate of Merit (COM) </font></p>
    </div>
    <div class="col-4">
        <p><font style="font-family:Muli-Light;"> 2017 </font></p>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <p><font style="font-family:Muli-Light;"> CCA Medal Award (Platinum, 0.2) </font></p>
    </div>
    <div class="col-4">
        <p><font style="font-family:Muli-Light;"> 2017 </font></p>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <p><font style="font-family:Muli-Light;"> Edusave Award for Achievement, Good Leadership and Service Award (EAGLES) </font></p>
    </div>
    <div class="col-4">
        <p><font style="font-family:Muli-Light;"> 2017 </font></p>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <p><font style="font-family:Muli-Light;"> Edusave Skills Award </font></p>
    </div>
    <div class="col-4">
        <p><font style="font-family:Muli-Light;"> 2016 </font></p>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <p><font style="font-family:Muli-Light;"> Adobe Award (Web Development) </font></p>
    </div>
    <div class="col-4">
        <p><font style="font-family:Muli-Light;"> 2016 </font></p>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <p><font style="font-family:Muli-Light;"> Splash Awards (Merit - 4th Place) </font></p>
    </div>
    <div class="col-4">
        <p><font style="font-family:Muli-Light;"> 2016 </font></p>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <p><font style="font-family:Muli-Light;"> Academic Excellence by LBKM </font></p>
    </div>
    <div class="col-4">
        <p><font style="font-family:Muli-Light;"> 2016 </font></p>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <p><font style="font-family:Muli-Light;"> Director’s List for Academic </font></p>
    </div>
    <div class="col-4">
        <p><font style="font-family:Muli-Light;"> 2016 </font></p>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <p><font style="font-family:Muli-Light;"> Director’s List for Academic </font></p>
    </div>
    <div class="col-4">
        <p><font style="font-family:Muli-Light;"> 2015 </font></p>
    </div>
</div>

<div class="row">
    <div id="q">
    <div class="col-8">
        <p><font style="font-family:Muli-Light;"> Academic Performance by ITE College West </font></p>
    </div>
    <div class="col-4">
        <p><font style="font-family:Muli-Light;"> 2015 </font></p>
    </div>
    <div>
</div>

<div class="row">
    <div class="col-8">
        <p><font style="font-family:Muli-Light;"> Certificate of Achievement in Overseas Student Exchange Programme at Iowa, USA by Kirkwood Community College </font></p>
    </div>
    <div class="col-4">
        <p><font style="font-family:Muli-Light;"> 2015 </font></p>
    </div>
</div>

<hr>

<h4 style="font-family:Muli;"> <font color="e1e1d0">Projects</font></h4>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 style="font-family:Muli;" class="card-title">{{ project.title }}</h5>
                <p style="font-family:Muli-light;" class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
